[submodule "link/vim-pathogen"]
	path = link/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "link/syntastic"]
	path = link/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "link/nerdtree"]
	path = link/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "link/vim-airline"]
	path = link/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "link/vim-airline-themes"]
	path = link/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "link/editorconfig-vim"]
	path = link/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "link/vim-polyglot"]
	path = link/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "link/scss-syntax.vim"]
	path = link/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim
[submodule "link/vim-plug"]
	path = link/vim-plug
	url = https://github.com/junegunn/vim-plug.git
